/***** Mobile *****/
.tab {
  overflow: hidden;
  border: none;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0;
}
.tab button {
  background-color: #C9FBE8;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #9acdc5;
}
.tab button.active {
  background-color: #6c9fa2;
}
.tabcontent {
  display: none;
  border: none;
  border-top: none;
  width: 100%;
  text-align: center;
  color: #0e435c;
}
.tabcontent p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  font-size: 4vw;
}

.accordion {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  display: block;
  font-size: 10px;
}
p {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
  text-align: left;
}
h2 {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2em;
}
.panel {
  width: 90%;
}
.panel p {
  font-size: 14;
  text-align: center;
}
#employment td{
  border: none;
  text-align: left;
  padding: 8px;
  color: #0e435c;
  font-size: 10px;
}

#education td {
  border: none;
  text-align: left;
  padding: 8px;
  color: #0e435c;
  font-size: 10px;
}
.accordion:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: #C9FBE8;
  float: right;
  border: none;
  margin-left: 5px;
}

.accordion.active:after {
  content: "−"; /* Unicode character for "minus" sign (-) */
  font-size: 10px;
  float: right;
  border: none;
  margin-left: 5px;
}
button.accordion.active {
  font-size: 10px;
}
button.accordion:hover {
  font-size: 10px;
}
.PCcontainer {
  display: none;
}
.mobcontainer {
  display: block;
  margin: auto;
  widthL 100%;
}

/***** Laptops & Desktops *****/
@media only screen and (min-width: 992px) {
  .tab {
    overflow: hidden;
    border: none;
    display: flex;
    justify-content: center;
  }
  .tab button {
    background-color: #C9FBE8;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    transition: 0.3s;
  }
  .tab button:hover {
    background-color: #9acdc5;
  }
  .tab button.active {
    background-color: #6c9fa2;
  }
  .tabcontent {
    display: none;
    padding: none;
    border: none;
    border-top: none;
    width: 800px;
    margin: auto;
    text-align: justify;
  }
  .tabcontent p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
  }

.accordion {
  width: 800px;
  margin: auto;
  position: relative;
  display: block;
  font-size:0.9cm;
}
.panel {
  width: 800px;
}
.panel p {
  width: 800px;
  padding-left: 0;
  padding-right:0;
}
p {
  margin:auto;
  font-size: 1em;
  width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}
h2 {
  margin:auto;
  font-size: 1em;
  width: 800px;
  padding-top: 20px;
  padding-bottom: 10px;
}
#employment td{
  border: none;
  text-align: justify;
  padding: 8px;
  color: #0e435c;
  font-size: 16px;
}

#education td {
  border: none;
  text-align: justify;
  padding: 8px;
  color: #0e435c;
  font-size: 16px;
}
.accordion:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 0.9cm;
  color: #C9FBE8;
  float: right;
  border: none;
  margin-left: 5px;
}

.accordion.active:after {
  content: "−"; /* Unicode character for "minus" sign (-) */
  font-size: 0.9cm;
  float: right;
  border: none;
  margin-left: 5px;
}
button.accordion.active {
  font-size: 0.9cm;
}
button.accordion:hover {
  font-size: 0.9cm;
}
.mobcontainer {
    display: none;
  }
.PCcontainer {
    display: inline;
  }

}

.imgBoxIT {
  width: 102px;
  height: 102px;
  background: url('it.png') no-repeat;
  padding: 1px;
}
.imgBoxIT:hover {
  width: 102px;
  height: 102px;
  background: url('ithover.png') no-repeat;
  padding: 1px;
}
.imgBoxMATHS {
  width: 100px;
  height: 100px;
  background: url('maths.png') no-repeat;
}
.imgBoxMATHS:hover {
  width: 100px;
  height: 100px;
  background: url('mathshover.png') no-repeat;
}
.imgBoxCOMMS {
  width: 100px;
  height: 100px;
  background: url('comms.png') no-repeat;
}
.imgBoxCOMMS:hover {
  width: 100px;
  height: 100px;
  background: url('commshover.png') no-repeat;
}
.imgBoxMISC {
  width: 100px;
  height: 100px;
  background: url('misc.png') no-repeat;
}
.imgBoxMISC:hover {
  width: 100px;
  height: 100px;
  background: url('mischover.png') no-repeat;
}

#employment p {
  padding-left: 0;
  padding-right: 0;
}

#skills table {
  margin:0;
  width:  100%;
}

#skills td, th {
  border: none;
  padding: 8px;
  color: #0e435c;
  text-align: center;
}

#skills th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #9acdc5;
}
body {
    top: 0;
    position:sticky;
    overflow-y:scroll;
    overflow-x:hidden;
  margin-bottom: 200px;
}
#QualInt table {
  width: 100%;
    left: 0;
    right: 0;
}
#QualInt td, th {
  border: none;
  padding: 8px;
    color: #0e435c;
  text-align: center;
}

#QualInt th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #9acdc5;
}