/***** Mobile *****/
.fancycontainer {
  position: relative;
  width: 900px;
  height: 1200px;
  margin: auto;
}
.fancycontainer img {
  width: 100%;
  height: auto;
}
#image_map_mobile img {
  width: 100%;
  margin: auto;
}
#image_map img{
  display: none;
}

/***** Laptops & Desktops *****/
@media only screen and (min-width: 992px) {
#image_map_mobile img {
  display: none;
}
.fancycontainer {
  width: 450px;
  height: 600px;
}
#image_map img {
  display: block;
  width: 100%;
  margin: auto;
}
}
