.nav li{
      list-style-type: none;
      margin: 0 0;
      font-size: 0.6cm;
      display: inline;
    }
.nav a{
      text-decoration: none;
      color: #C9FBE8;
      padding: 0.2cm;
      padding-right:0.5cm;
      padding-left:0.5cm;
      font-family: Arial, sans-serif;
    }
.nav a:hover{
      background-color: #6c9fa2;
      transition: 0.4s;
      color: #C9FBE8;
    }
.nav nav{
      
    }
.nav body{
      margin:0;
    }
.nav ul{
      text-align:center;
      margin: 0 0;
      padding: 0.2cm;
      padding-right:0.5cm;
      padding-left:0.5cm;
      background-color: #0e435c;
      <!--display: flex;-->
    }
body {
     background-color: #C9FBE8;
     font-family: Arial, sans-serif;
     
     margin: 0;
}
h1   {
     color: #0e435c;
     padding-left: 20px;
     padding-right: 20px;
}
h2   {
     color: #0e435c;
     padding-left: 20px;
     padding-right: 20px;
     font-size: 0.5cm;
}
h3   {
     color: #C9FBE8
     padding-left: 20px;
     padding-right: 20px;
     font-size: 0.5cm;
}
p    {
     color: #0e435c;
     font-size: 0.5cm;
     padding-left: 20px;
     padding-right: 20px;
}
.TableTitle {
     color: #0e435c;
     font-size: 0.5cm;
     padding-left: 20px;
     padding-right: 20px;
     text-align: center;
}
.content {
     margin: 1em;
     width: 90%;
  padding: 0 18px;
  width: 800px;
  margin: auto;

  overflow: hidden;
}
.footer img{
      width: 100%;
      height: 15vw;
      object-fit: cover;
      overflow: hidden; 
      object-position: 50% 100%;
}
ul	{
     color: #0e435c;
}

.accordion {
  background-color: #0e435c;
  color: #C9FBE8;
  cursor: pointer;
  padding: 18px;
  vertical-align: middle;
  /*width: 100%;*/
  text-align: center;
  /*border: none;*/
  outline: none;
  transition: 0.4s;
  font-size: 0.5cm;
  border-top: 2px solid #C9FBE8;
  border-bottom: 2px solid #C9FBE8;
  border-left: none;
  border-right: none;
}

.active, .accordion:hover {
  background-color: #6c9fa2;
  color: #C9FBE8;
  font-size: 0.5cm;
}
.panel {
  padding: 0 18px;
  background-color: #C9FBE8;
  color: #0e435c;
  display: none;
  overflow: hidden;
  float: center;
  text-align: center;
  width: 600px;
  margin: auto;
}

a {
  color: #0e435c;
}